*~
foo~
*.class
*.o
*.log
*.lo
*.la
*.libs/
*.deps/
*.trs
check_*[^\.][^c]
src/test/*java.inc
build/
dist/
Makefile.in
Makefile
aclocal.m4
config\.*
libtool
ltmain.sh
missing
stamp-h1
compile
configure
install-sh
depcomp
autom4te.cache/
src/test/expected*.txt
src/test/count*.txt
src/test/input*.txt
